
<toaster-container [toasterconfig]="config"></toaster-container>
<ngx-dinamicform [normalform]="form{{entity.name | uppercamelcase}}" [modeloData]="info_{{entity.name | lower}}" (result)="validarForm($event)" [clean]="clean">
</ngx-dinamicform>


